:root {
  --switch-height: 70px;
  --switch-width: 140px;
  --switch-inner-width-and-height: 60px;
  --switch-transition-speed: .5s;
}

.switch {
  width: var(--switch-width);
  height: var(--switch-height);
  border: 1px solid #ddd;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 252, 252);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
  transition:
    background-color var(--switch-transition-speed) ease,
    border-color var(--switch-transition-speed) ease;
}

.switch:hover {
  cursor: pointer;
}

.switch__inner {
  background-color: #fff;
  border-radius: 100%;
  height: var(--switch-inner-width-and-height);
  width: var(--switch-inner-width-and-height);
  transition: transform var(--switch-transition-speed) ease;
  transform: translateX(-57.5%);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.switch--is-on .switch__inner {
  transform: translateX(+57.5%);
}

.switch--is-on {
  border-color: #86D26C;
  background-color: #86D26C;
}
